<h1>Listing participations</h1>

<table>
  <tr>
    <th>Team</th>
    <th>Challenge</th>
    <th>Register number</th>
    <th>Accomplished</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @participations.each do |participation| %>
  <tr>
    <td><%= participation.team_id %></td>
    <td><%= participation.challenge_id %></td>
    <td><%= participation.register_number %></td>
    <td><%= participation.accomplished %></td>
    <td><%= link_to 'Show', participation %></td>
    <td><%= link_to 'Edit', edit_participation_path(participation) %></td>
    <td><%= link_to 'Destroy', participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Participation', new_participation_path %>
