<h2>Listing teams</h2>

<%= form_tag teams_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Buscar por email de integrante", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th>Nombre</th>
    <th>Usuario 1</th>
    <th>Usuario 1 FB</th>
    <th>Usuario 2</th>
    <th>Usuario 2 FB</th>
    <th>Kilometers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= User.find(team.first_user_id).email if team.first_user_id %></td>
    <td><%= User.find(team.first_user_id).facebook_id if team.first_user_id %></td>
    <td><%= User.find(team.second_user_id).email if team.second_user_id %></td>
    <td><%= User.find(team.second_user_id).facebook_id if team.second_user_id %></td>
    <td><%= team.kilometers %></td>
    <td><%= link_to 'Show', team %></td>
    <td><%= link_to 'Edit', edit_team_path(team) %></td>
  </tr>
<% end %>
</table>

<br/>
<%= will_paginate @teams%>
<br />

<%= link_to 'New Team', new_team_path %>
