<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>First user:</b>
  <%= @team.first_user_id %>
</p>

<p>
  <b>Second user:</b>
  <%= @team.second_user_id %>
</p>

<p>
  <b>Kilometers:</b>
  <%= @team.kilometers %>
</p>

<p>
  <b>Mission:</b>
  <%= @team.mission %>
</p>

<p>
  <b>Retos:</b>
  <ul>
    <% Challenge.all.each do |challenge| %>
      <li> <%= challenge.name %> <input type="checkbox" disabled <%= @team.challenges.index(challenge) ? "checked" : "" %>/></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
