<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>First user:</b>
  <%= @team.first_user_id %>
</p>

<p>
  <b>Second user:</b>
  <%= @team.second_user_id %>
</p>

<p>
  <b>Kilometers:</b>
  <%= @team.kilometers %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
