<% content_for :head_script do %>
  <%= javascript_include_tag 'home', 'jquery-ui-custom' %>
<% end %>
<% content_for :head_style do %>
  <%= stylesheet_link_tag 'home', 'jquery-ui-custom'%>
<% end %>

<div id="home-values" 
	data-user="<%= @user.to_json(:only => [:id, :first_name, :last_name, :register_complete, :facebook_id, :kilometers, :never_twitter], :include => {:hood => {:only => [:name]}})%>" 
	data-team="<%= @team.to_json(:only => [:id, :name, :notify_author, :first_user_id, :kilometers]) %>" 
	data-partner="<%= @partner.to_json(:only => [:id, :first_name, :last_name, :facebook_id, :kilometers], :include => {:hood => {:only => [:name]}}) %>" 
	data-invited="<%= @invited.to_json(:only => [:id, :invited_user_facebook_id, :invited_user_name]) %>" 
	data-invites="<%= @show_invites %>"
  data-twitter="<%= @show_twitter %>"></div>

<div id="contenedor">
  <div id="perfil" class="perfil s2x2"><div class="menu_text menu_font"><div class="status"></div></div></div
  ><div id="contenedor_arriba_derecha" class="s2x2"><div id="amiga" class="amiga s2x1"><div class="img_transparent_amiga"></div><div class="menu_text_menu menu_font"><div class="status"></div></div></div
  ><div id="equipo" class="equipo s1x1"><div id="equipo_text" class="menu_small_text menu_font"><div class="status"></div></div></div
  ><div id="barrio" class="barrio s1x1"><div id="barrio_text" class="menu_small_text menu_font"><div class="status"></div></div></div></div
  ><div id="ranking" class="ranking s2x1"><div id="ranking_text" class="menu_medium_text menu_font"><div class="status">RANKING</div></div></div
  ><div id="run_clubs" class="run_clubs s1x1"><div id="run_text" class="menu_small_text menu_font"><div class="status">RUN CLUBS</div></div></div
  ><div id="retos" class="retos s1x1"><div id="retos_text" class="menu_small_text menu_font"><div class="status">RETOS</div></div></div>
</div>
