<% content_for :head_script do %>
  <%= javascript_include_tag 'home', 'jquery-ui-custom' %>
<% end %>
<% content_for :head_style do %>
  <%= stylesheet_link_tag 'home', 'jquery-ui-custom'%>
<% end %>

<div id="home-values" data-user="<%= @user%>" data-team="<%= @team %>" data-partner="<%= @partner %>" data-invited="<%= @invited %>" data-invites="<%= @show_invites %>"></div>

<div id="contenedor">
  <div id="perfil" class="perfil s2x2"></div
  ><div id="contenedor_arriba_derecha" class="s2x2"><div id="amiga" class="amiga s2x1"></div
  ><div id="equipo" class="equipo s1x1"></div
  ><div id="barrio" class="barrio s1x1"></div></div
  ><div id="ranking" class="ranking s2x1"></div
  ><div id="run_clubs" class="run_clubs s1x1"></div
  ><div id="retos" class="retos s1x1"></div>
</div>
