<% content_for :head_script do %>
  <%= javascript_include_tag 'retos' %>
<% end %>
<% content_for :head_style do %>
  <%= stylesheet_link_tag 'retos' %>
<% end %>

<div id="contenedor">
<div id="retos_izq" class="s2x4 retos_fondo_izq"><p class="retos_header">RETOS</p><br/><p class="retos_sub_header">SUPÉRENLOS Y LLEGUEN<br/>A LA CIMA DEL RANKING.</p><div style="text-align: center;"><div id="social_run" class="social_run<%= @social_run %>"></div><div id="city_truck" class="city_truck"></div></div><div id="marathon" class="marathon<%= @marathon %>"></div></div><div id="retos_der" class='s2x4 retos_fondo_der'><div id="fast_track" class="fast_track<%= @fast_track %>"></div><div id="wake_up" class="wake_up<%= @wake_up %>"></div><div id="d10k" class="d10k<%= @d10k %>"></div></div>
</div>

<div id="pleca_bottom"></div>
