<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">First User</Data></Cell>
        <Cell><Data ss:Type="String">First User FBID</Data></Cell>
        <Cell><Data ss:Type="String">First User email</Data></Cell>
        <Cell><Data ss:Type="String">First User age</Data></Cell>
        <Cell><Data ss:Type="String">Second User</Data></Cell>
        <Cell><Data ss:Type="String">Second User FBID</Data></Cell>
        <Cell><Data ss:Type="String">Second User email</Data></Cell>
        <Cell><Data ss:Type="String">Second User age</Data></Cell>
        <Cell><Data ss:Type="String">Kilometers</Data></Cell>
      </Row>
    <% @teams.each do |team| %>
      <Row>
        <Cell><Data ss:Type="String"><%= team.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= team.first_user.first_name + " " + team.first_user.last_name if team.first_user %></Data></Cell>
        <Cell><Data ss:Type="String"><%= team.first_user.facebook_id if team.first_user %></Data></Cell>
        <Cell><Data ss:Type="String"><%= team.first_user.email if team.first_user %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= team.first_user.age if team.first_user %></Data></Cell>
        <Cell><Data ss:Type="String"><%= team.second_user.first_name + " " + team.second_user.last_name if team.second_user %></Data></Cell>
        <Cell><Data ss:Type="String"><%= team.second_user.facebook_id if team.second_user %></Data></Cell>
        <Cell><Data ss:Type="String"><%= team.second_user.email if team.second_user %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= team.second_user.age if team.second_user %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= team["etapa_1_km"] %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
