<p id="notice"><%= notice %></p>

<p>
  <b>External ID:</b>
  <%= @user.facebook_id %>
</p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Kilometers:</b>
  <%= @user.kilometers %>
</p>

<p>
  <b>Carreras:</b>
  <ul>
    <% @user.runs.each do |run|%>
      <li><%= "km: #{run.kilometers.round(2)} publicada: #{run.published_date.in_time_zone('Mexico City').to_formatted_s(:short)} registrada: #{run.start_date ? run.start_date.in_time_zone('Mexico City').to_formatted_s(:short) : 'por twitter' } contabilizada: #{run.accounted ? 'sí' : 'no'}" %></li>
    <% end %>
  </ul>
</p>

<p>
  <b>Badges Adicionales: </b>
  <ul>
    <% @user.additional_badges.each do |ab| %>
      <li><%= ab.name %> <input type="checkbox" disabled name='ab_<%= ab.id %>' <%= @user.additional_badges.index(ab) ? "checked" : "" %>/> </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
